/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../jpg/fondodepantalla1.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen al fondo mientras se desplaza la página */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo oscuro semi-transparente */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección principal */
main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
}

/* Pie de página */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
